.cover {
    background-image: url('../../images/cover-trains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1184px;
    min-height: 740px;
    box-sizing: border-box;
    margin: 0 48px;
    padding: 0;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover::before {
    background-color: #2A2C2F;
    opacity: 0.8;
}

@media (max-width: 1024px) {
    .cover {
        min-width: 1024px;
        min-height: 640px;
        margin: 0;
  }
}

@media (max-width: 768px) {
    .cover {
        min-width: 768px;
        min-height: 480px;
        margin: 0;
    }
  }

@media (max-width: 320px) {
    .cover {
        min-width: 320px;
        min-height: 200px;
        margin: 0;
    }
  }




