.cover__title {
    position: absolute;
    max-width: 560px;
    max-height: 152px;
    object-fit: contain;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    /* or 106% */
    color: #FFFFFF;
    margin: 0;
    padding: 245px 312px 343px 312px;
}

@media (max-width: 1024px) {
    .cover__title {
        max-width: 560px;
        max-height: 152px;
        padding-left: 232px;
        padding-right: 16px;
        padding-top: 195px;
  }
}

@media (max-width: 768px) {
    .cover__title {
        max-width: 560px;
        max-height: 152px;
        padding-left: 104px;
        padding-right: 104px;
        padding-top: 115px;
    }
  }

@media (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        max-height: 70px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 33px;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */
    }
  }
